<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }}{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            <style>
                .example-wrapper { width: 20%; margin: 0 0 0 40%; font: 18px/1.5 sans-serif; }
                .example-wrapper h1 { text-align: center; background: #F5F5F5; padding: 2px 6px; }
            </style>

            <div class="example-wrapper">
                <h1>Hello World!</h1>
            </div>
        {% endblock %}
    </body>
</html>
